@font-face {
    font-family: "Press Start 2P";
    font-weight: 400;
    font-style: normal;
    src: url('/fonts/PressStart2P-Regular.ttf');
}

$font-heading: 'Press Start 2P', cursive;
$onPrimary-color: #ffffff;

h1, h2, h3, h4, h5, h6 {
    font-family: $font-heading;
    color: $onPrimary-color; 
}

nav {
    background-color: black;
    display: inline;
    width: auto;
}

nav a {
    font-family: $font-heading;
    color: $onPrimary-color; 
    text-decoration: none;
}

nav img {
    vertical-alignment: middle;
}

#content {
    background-color: yellow;
}

