@font-face {
    font-family: "Press Start 2P";
    font-weight: 400;
    font-style: normal;
    src: url('/fonts/Press_Start_2P/PressStart2P-Regular.ttf');
}

body, a {
    font-family: 'Press Start 2P', cursive;
}

body {
    margin: 0;
}

div#content {
    background-color: yellow;
}

div#content p {
    font-size: 8pt;
}

nav {
    width: auto;
    display: inline;
    background-color: black;
}

.nav {
    #background-color: #FFFAFF;
    background-color: yellow;
    list-style-type: none;
    text-align: right;
}

.nav img {
    vertical-align: middle;
}

.nav li {
    display: inline-block;
    margin-right: 20px;
}

nav a {
    font-size: 8pt;
    text-decoration: none;
    text-align: right;
}
