$font-heading: 'Press Start 2P', cursive;
$onPrimary-color: #ffffff;

h1, h2, h3, h4, h5, h6 {
    font: $font-heading;
    color: $onPrimary-color; 
}

nav a {
    font: $font-heading;
    color: $onPrimary-color; 
}

