<header class="mdc-top-app-bar mdc-top-app-bar--fixed app-bar"> 
    <div class="mdc-top-app-bar__row">
        <section class="mdc-top-app-bar__section mdc-top-app-bar__section--align-start"> 
            <span class="mdc-top-app-bar__title">
              <img class="rain-mascot" src="{{ .Site.BaseURL }}images/rain_logo.png" alt=""/>{{ upper .Site.Title }}
            </span>
        </section>
        <section class="mdc-top-app-bar__section mdc-top-app-bar__section--align-end">
            {{ range .Site.Sections }}
                <a class="mdc-top-app-bar__action-item nav-item" href="{{ .Permalink }}"> {{ lower .Title }}</a>
            {{ end }}
        </section>
    </div>
</header>
