{{ define "main" }}
<div id="about">
    <img src="{{ .Site.BaseURL }}images/rev2.png" alt=""/>
    <p class="mdc-theme-on-secondary">
        Fresh graduate developer building things for the heck of it.
    </p>
     <p class="mdc-theme-on-secondary">
         Love tinkering, always curious about new shiny things and won't ever stop learning.
    </p>
    <button id="cv" class="mdc-button mdc-button--outlined">
        <div class="mdc-button__ripple"></div>
        <span class="mdc-button__label">
            Curriculum Vitae
        </span>
    </button>
</div>
<div id="projects"> 
    <h1>Projects</h1>
    <br>
    <div class="cards-container" style="display: grid; grid-template-columns: 1fr 1fr 1fr 1fr; grid-gap: 20px; margin-left: 25%; margin-right: 25%; overflow: auto;">
        <a href="https://github.com/steamyrain/alkal"><img src="https://gh-card.dev/repos/steamyrain/alkal.svg"></a>
        <a href="https://github.com/steamyrain/personality-app"><img src="https://gh-card.dev/repos/steamyrain/personality-app.svg"></a>
        <a href="https://github.com/steamyrain/NavDrawer"><img src="https://gh-card.dev/repos/steamyrain/NavDrawer.svg"></a> 
        <a href="https://github.com/steamyrain/rain-theme"><img src="https://gh-card.dev/repos/steamyrain/rain-theme.svg"></a>
        <!--div class="mdc-card">
            <section class="mdc-card__header">
                <p class="mdc-card__title mdc-typography--headline6">Title</p>
                <p class="mdc-card__subtitle mdc-typography--subtitle2">Subtitle</p>
            </section>
        </div-->
    <div>
</div>
{{ end }}
