@import '@material/top-app-bar/mdc-top-app-bar';
@import '@material/theme';

@font-face {
    font-family: "Press Start 2P";
    font-weight: 400;
    font-style: normal;
    src: url('/fonts/PressStart2P-Regular.ttf');
}

$font-heading: 'Press Start 2P', cursive;

body {
    height: 100vh;
    margin: 0;
    font-size: 16px;
}

.mdc-top-app-bar__title {
    font-family: $font-heading;
    padding-left: 0;
        &>img.rain-mascot {
            vertical-align: middle;
        }
}

.app-bar {
    position: sticky;
}

a {
    &.nav-item {
        font-family: $font-heading;
        text-decoration: none;
        &:hover {
            @include mdc-theme-prop(color, secondary);
        }
    }
}
