@import '@material/top-app-bar/mdc-top-app-bar';

@font-face {
    font-family: "Press Start 2P";
    font-weight: 400;
    font-style: normal;
    src: url('/fonts/PressStart2P-Regular.ttf');
}

$font-heading: 'Press Start 2P', cursive;

body {
    height: 100vh;
    margin: 0;
}

img.rain-mascot {
    vertical-align: middle;
}

.mdc-top-app-bar__title {
    font-family: $font-heading;
    padding-left: 0;
}
