@use '@material/theme' with (
    $primary: #fcb8ab,
    $secondary: #feeae6,
    $on-primary: #442b2d,
    $on-secondary: #442b2d,
);
@use '@material/button';
@use '@material/top-app-bar/mdc-top-app-bar';
@use "@material/elevation/mdc-elevation";
@use '@material/elevation';
@use '@material/typography/mdc-typography';
@use '@material/card';

@include card.core-styles;

.mdc-card {
    width: 150px;
}

/*
@font-face {
    font-family: "Press Start 2P";
    font-weight: 400;
    font-style: normal;
    src: url('/fonts/PressStart2P-Regular.ttf');
}
*/

// theme colors 
$primary: #fcb8ab;
$secondary: #feeae6;
$on-primary: #442b2d;
$on-secondary: #442b2d;

// font 
// $font-heading: 'Press Start 2P', cursive;

// breakpoints
$xs: 0px; 
$sm-1: 599px;
$sm: 600px;
$md: 960px;
$lg: 1280px;
$xl: 1920px;

// Had to do media query because the only option left was using @material-ui/core/styles
// which require react which unnecessary.
@media only screen and (max-width: $sm-1) {
    #content {
        & #about{
            padding-top: 10px;
            padding-bottom: 10px;
        }
    }
}

@media only screen and (min-width: $sm) {
    #content {
        & #about{
            padding-top: 18px;
            padding-bottom: 18px;
        }
    }
}

// style
body {
    height: 100vh;
    margin: 0;
    font-size: 16px;
    @include theme.property(background-color,$secondary); 
}

#content {
    overflow: auto;
    display: flex;
    flex-direction: column;
    & #about{
        text-align: center;
        flex-basis: 100%;
        &>p {
            //font-family: $font-heading;
            font-size: 16px;
        }
    }
}

.mdc-top-app-bar {
    &--fixed::before {
        content: ' ';
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        @include elevation.elevation(4);
        opacity: var(--o);
        transition: opacity 200ms ease-in;
    }
    &__title {
        //font-family: $font-heading;
        padding-left: 0;
            &>img.rain-mascot {
                vertical-align: middle;
            }
    }
    &__section--align-end {
        padding-inline-start: 10px;
        padding-inline-end: 10px;
    }
    & a.nav-item {
        //font-family: $font-heading;
        text-decoration: none;
        margin-inline-end: 10px;
        display: inline-block;
        position: relative;
        padding: 20px 0;
        &:hover {
            @include theme.property(color,$secondary);
        }
        &::before {
            content: "";
            position: absolute;
            transition: 300ms;
            @include theme.property(background-color,$secondary);
            width: 100%;
            height: 0%;
            bottom: 0px;
        }
        &:hover::before {
            height: 5px;
        }
    }
}

a {
    &.home-url {
        //font-family: $font-heading;
        text-decoration: none;
        color: inherit;
        &:hover {
            @include theme.property(color,$secondary);
        }
    }
}

@include button.core-styles;
